<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>MovieOn</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <br>
                <br>
                {% block sidebar %}
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="{% url 'movies' %}">All Movies</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="{% url 'directors' %}">All Directors</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="{% url 'genres' %}">All Genres</a></li>
                </ul>

                <img src="{% static 'logo.png' %}"/>
                {% endblock %}
                <br>
            </div>
            <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
        </div>
    </div>
</body>

</html>