{% extends "base_generic.html" %}

{% block title %}<title>MovieOn | Director List</title>{% endblock %}

{% block content %}
<br>
<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
    <div class="card-header">Delete Director</div>
    <div class="card-body">
        <h4 class="card-title">Are you sure want to delete "{{ director }}" ?</h4>
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Confirm" class="btn btn-success"/>
            <a href="{% url 'directors' %}" class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}