{% extends "base_generic.html" %}

{% block title %}<title>MovieOn | Director List</title>{% endblock %}

{% block content %}
<br>
<h3 class="card-header">Best Directors in MovieOn</h3>

{% for director in directors %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ director }}</h4>
            <a href="{% url 'edit_director' director.id %}" class="card-link">Edit</a>
            <a href="{% url 'delete_director' director.id %}" class="card-link">Delete</a>
        </div>
    </div>
{% endfor %}

<div class="card-footer text-muted">
    <a href="{% url 'add_director' %}" class="card-link">Add Director</a>
</div>

<br>
{% endblock %}