{% extends "base_generic.html" %}

{% block title %}<title>MovieOn | Movie List</title>{% endblock %}

{% block content %}
<br>
<h3 class="card-header">Best Movies in MovieOn</h3>

{% for movie in movies %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ movie.title }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">By {{ movie.director }}</h6>
            <a href="{% url 'edit_movie' movie.id %}" class="card-link">Edit</a>
        </div>
    </div>
{% endfor %}

<div class="card-footer text-muted">
    <a href="{% url 'add_movie' %}" class="card-link">Add Movie</a>
</div>

<br>
{% endblock %}