{% extends "base_generic.html" %}

{% block title %}<title>MovieOn | Movie List</title>{% endblock %}

{% block sidebar %}
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="{% url 'index' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="{% url 'movies' %}">All Movies</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="{% url 'directors' %}">All Directors</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="{% url 'genres' %}">All Genres</a></li>
    </ul>

    {% load static %}
    <img src="{% static 'logo.png' %}"/>
{% endblock %}

{% block content %}
<br>
<h3 class="card-header">Best Movies in MovieOn</h3>
<br>

<div class="row">
    {% for movie in movies %}
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ movie.title }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">By {{ movie.director }}</h6>
                    <a href="{% url 'edit_movie' movie.id %}" class="card-link">&#9998</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="card-footer text-muted">
    <a href="{% url 'add_movie' %}" class="card-link">&#10133 Add Movie</a>
</div>

<br>
{% endblock %}