{% extends "base_generic.html" %}

{% block title %}<title>MovieOn | Director List</title>{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 navbar-scrolled" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">MovieOn</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    {% if genre_data %}
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle nav-link js-scroll-trigger" href="#">Genre</i>
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                {% for genre in genre_data %}
                                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ genre.get_absolute_url }}">{{ genre }}</a></li>
                                    <p></p>
                                {% endfor %}
                                </ul>
                            </li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'directors' %}">All Directors</a></li>
                    <div>
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle nav-link js-scroll-trigger" data-toggle="dropdown" href="#">Hi, {{ user.get_username }} &nbsp;&nbsp;<i class="fa fa-user m-l-5" aria-hidden="true"></i>
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link js-scroll-trigger" href="{% url 'logout' %}?next={{ request.path }}" id="buttona">Log Out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            {% if 'login' in request.path %}
                                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'login' %}?next={{ '/' }}" id="buttona">Log In</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'login' %}?next={{ request.path }}" id="buttona">Log In</a></li>
                            {% endif %}
                        {% endif %}
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <br><br><br>
{% endblock %}

{% block content %}
{% load static %}
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            {% for director in directors %}
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="#">
                        <img class="img-fluid" src="{{ director.photo }}" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-name">{{ director }}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}