{% extends "base_generic.html" %}

{% block title %}<title>MovieOn | Movie List</title>{% endblock %}

{% block sidebar %}
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="{% url 'index' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="{% url 'movies' %}">All Movies</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="{% url 'directors' %}">All Directors</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="{% url 'genres' %}">All Genres</a></li>
    </ul>

    {% load static %}
    <img src="{% static 'logo.png' %}"/>
{% endblock %}

{% block content %}
<br>
<div class="card text-white bg-info mb-3" style="max-width: 30rem;">
    {% if type != 'edit' %}
    <div class="card-header">Add a Movie</div>
    {% else %}
    <div class="card-header">Edit a Movie</div>
    {% endif %}
    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <br>
            <!-- check if type is edit, we display text Edit instead of Add -->
            {% if type != 'edit' %}
            <input type="submit" value="Add" class="btn btn-primary"/>
            {% else %}
            <input type="submit" value="Update" class="btn btn-primary"/>
            {% endif %}
            <a href="{% url 'movies' %}" class="btn btn-info">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}