{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>MovieOn | Movie List</title>{% endblock %}

{% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 navbar-scrolled" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">MovieOn</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'directors' %}">All Directors</a></li>
                        <div>
                            {% if user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'logout' %}?next={{ request.path }}" id="buttona">Hi, {{ user.get_username }} &nbsp;&nbsp;<i class="fa fa-user m-l-5" aria-hidden="true"></i></a></li>
                            {% else %}
                                {% if 'login' in request.path %}
                                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'login' %}?next={{ '/' }}" id="buttona">Log In</a></li>
                                {% else %}
                                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'login' %}?next={{ request.path }}" id="buttona">Log In</a></li>
                                {% endif %}
                            {% endif %}
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        <br><br><br>
{% endblock %}

{% block content %}

      <!--   Icon Section   -->
<div class="row">
    <div class="col s12 m12">
        <div class="card horizontal">
            <div class="card-image">
                {% if ourDB is True %}
                    <img src="{{ movie_data.poster }}">
                {% else %}
                    <img src="{{ movie_data.Poster }}">
                {% endif %}
            </div>
          
            <div class="card-stacked">
                <div class="card-content">
                {% if ourDB is True %}
                    <span class="card-title"><b>{{ movie_data.title }}</b></span>
                    <span>{{ movie_data.type }}</span>
                {% else %}
                    <span class="card-title"><b>{{ movie_data.Title }}</b></span>
                    <span>{{ movie_data.Type }}</span>
                {% endif %}
                <br>
                {% if ourDB is True %}
                    <p>{{ movie_data.synopsis }}</p>
                {% else %}
                    <p>{{ movie_data.Plot }}</p>
                {% endif %}
                
                <br>
                <div class="divider"></div>
                {% if ourDB is True %}
                    <span>Year: <b>{{ movie_data.year }}</b></span>
                    <span class="right">Rated: <b>{{ movie_data.rated }}</b></span>
                    <p>Released: <b>{{ movie_data.datepublish }}</b></p>
                    <p>Runtime: <b>{{ movie_data.runtime }}</b></p>
                    <p>Genre: 
                    {% for Genre in movie_data.genre.all %}
                        <b>{{ Genre }}</b>
                    {% endfor %}
                    <p>Director: <b>{{ movie_data.director }}</b></p>
                    <p>Writer: <b>{{ movie_data.writer }}</b></p>
                    <p>Cast:
                    {% for Cast in movie_data.cast.all %}
                        <b>{{ Cast }}</b>
                    {% endfor %}
                    </p>
                    <p>Country: <b>{{ movie_data.country }}</b></p>
                {% else %}
                    <span>Year: <b>{{ movie_data.Year }}</b></span>
                    <span class="right">Rated: <b>{{ movie_data.Rated }}</b></span>
                    <p>Released: <b>{{ movie_data.Released }}</b></p>
                    <p>Runtime: <b>{{ movie_data.Runtime }}</b></p>
                    <p>Genre: <b>{{ movie_data.Genre }} </b></p>
                    <p>Director: <b>{{ movie_data.Director }}</b></p>
                    <p>Writer: <b>{{ movie_data.Writer }}</b></p>
                    <p>Cast: <b>{{ movie_data.Actors }}</b></p>
                    <p>Country: <b>{{ movie_data.Country }}</b></p>
                {% endif %}
                
                <div class="divider"></div>
                    <ul class="collection">
                        <!---li--- class="collection-item avatar">
                            <span class="title">Rated</span>
                            <p><b>{{ reviews_avg.rate__avg }}</b> by <b>{{ reviews_count }}</b> people </p>
                        </li--->
                        {% if ourDB is True %}
                        {% for movie in movie_data.ratings.all %}
                            {% if movie.source == 'Internet Movie Database' %}
                                <li class="collection-item avatar">
                                <img src="{% static 'img/icons/imdb_icon.png' %}" alt="" class="circle">
                                <span class="title">{{ movie.source }}</span>
                                <p><b>{{ movie.rating }}</b></p>
                                </li>

                            {% elif movie.source == 'Rotten Tomatoes' %}
                                <li class="collection-item avatar">
                                <img src="{% static 'img/icons/rt_icon.png' %}" alt="" class="circle">
                                <span class="title">{{ movie.source }}</span>
                                <p><b>{{ movie.rating }}</b></p>
                                </li>

                            {% else %}
                                <li class="collection-item avatar">
                                    <img src="{% static 'img/icons/meta_icon.png' %}" alt="" class="circle">
                                    <span class="title">{{ movie.source }}</span>
                                    <p><b>{{ movie.rating }}</b></p>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% else %}
                            <li class="collection-item avatar">
                            <img src="{% static 'img/icons/imdb_icon.png' %}" alt="" class="circle">
                            <span class="title">{{ movie_data.Ratings.0.Source }}</span>
                            <p><b>{{ movie_data.Ratings.0.Value }}</b></p>
                            </li>

                            <li class="collection-item avatar">
                            <img src="{% static 'img/icons/rt_icon.png' %}" alt="" class="circle">
                            <span class="title">{{ movie_data.Ratings.1.Source }}</span>
                            <p><b>{{ movie_data.Ratings.1.Value }}</b></p>
                            </li>

                            <li class="collection-item avatar">
                            <img src="{% static 'img/icons/meta_icon.png' %}" alt="" class="circle">
                            <span class="title">{{ movie_data.Ratings.2.Source }}</span>
                            <p><b>{{ movie_data.Ratings.2.Value }}</b></p>
                            </li>
                        {% endif %}
                    </ul>

                    <div class="divider"></div>
                    <p>imdb ID: <b>{{ movie_data.imdbID }}</b></p>
                </div>
            </div>
        </div>
    </div>
</div>

      <!---h4>Reviews</!---h4>
      <div class="divider"></div>


          <div--- class="row">
            <div class="col s12 m12">
              <div class="card">
                <div class="card-content">
                 <ul class="collection">

                  {% for review in reviews %}
                    <li class="collection-item avatar">

                    {% if review.user.profile.picture %}
                      <img src="{{ review.user.profile.picture.url }}" alt="" class="circle">
                    {% else %}
                      <img src="{% static 'img/no_avatar.jpg' %}" alt="" class="circle">
                    {% endif %}

                      <span class="title"><b>{{ review.user.first_name }} {{ review.user.last_name }}</b></span>
                      <p>@{{ review.user.username }}</p>
                      <p>{{ review.date }}</p>
                      <a href="{% url 'user-review' review.user.username movie_data.imdbID %}" class="secondary-content"><i class="material-icons">grade</i>{{ review.rate }} / 10</a>
                    </li>
                  {% endfor %}

                </ul>
                </div>
              </div>
            </div>
          </div--->


{% endblock %}